<div fxLayout="column" class="app-background">
    <div fxFlex fxLayout="column">
        <div style="flex: unset">


            <div class="container logo-sec-main p-0 m-0 " fxLayout="row wrap" fxLayoutAlign="center"
                fxLayoutAlign.xs="center center" fxLayoutAlign.sm="center center" fxLayoutAlign.md="center center"
                fxLayoutAlign.lg="start center" fxLayoutAlign.xl="center center">
                <section style="width: 100%" class="main table-section table-min-height">
                    <div class="col-md-12 card border-0 " style="background-color: #F2F2F2;">
                        <div class="d-flex flex-raw m-0 px-0 py-1 justify-content-between align-items-center  ">
                            <span class="card-text">Um ein Dokument hochzuladen, wählen Sie bitte einen Kunden aus
                                oder
                                legen Sie einen an.</span>
                            <button type="button" style="padding-bottom: 2px;"  mat-raised-button (click)="OpenStpper()" class="btn upload-theme d-flex  flex-raw justify-content-enter align-items-center ">
                                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.0303 0.72168C5.437 0.72168 0.0859375 6.07274 0.0859375 12.666C0.0859375 19.2593 5.437 24.6104 12.0303 24.6104C18.6235 24.6104 23.9746 19.2593 23.9746 12.666C23.9746 6.07274 18.6235 0.72168 12.0303 0.72168ZM18.0024 13.8604H13.2247V18.6382H10.8358V13.8604H6.05811V11.4716H10.8358V6.69385H13.2247V11.4716H18.0024V13.8604Z"
                                            fill="white" />
                                    </svg>
                                    <span class="text-white" style="text-decoration: none" >
                                        Kunde anlegen
                                    </span>
                                    
                            </button>
                        </div>
                    </div>

                    <mat-horizontal-stepper linear #stepper style="background: bottom" class="stepnewclass "
                        ngClass="{{ 'last-edited-step-' + stepper.selectedIndex }}">

                        <ng-template matStepperIcon="edit">
                            <mat-icon>check</mat-icon>
                        </ng-template>
                        <mat-step [stepControl]="askquestion">



                            <div class="container">
                                <ng-template matStepLabel>
                                    <span>Kunden</span>
                                    <div class="underKundenHead rounded-sm ">{{itemToDisplayUnderKundenType}}</div>
                                </ng-template>
                                <div class="row setup-content" id="step-1">
                                    <form style="width: 100%" (ngSubmit)="GoNext()">
                                        <div>
                                            <div style="padding: 0px" class="col-md-12 card-center">
                                                <div class="formstep1">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex flex-column cusotmer-select p-0"
                                                            style="margin-top: 40px;">
                                                            <div class="col-md-12 d-flex justify-content-start p-0 ">
                                                                <span class="second-text"> Bitte suchen Sie
                                                                    einen Haushalt/Unternehmen und wählen
                                                                    Sie es in
                                                                    der Suchleiste aus.</span>
                                                            </div>
                                                            <div class="col-md-7 d-flex flex-raw align-items-start p-0 m-0 rounded-2 "
                                                                id="uploadDocumentOne" >
                                                                <mat-form-field style="color: white;background-color: white;"
                                                                    class="mat-form-field-remove-padding-bottom mat-form-field-remove-margin col-md-11 custom-mat-input p-0  m-0 example-full-width"
                                                                    appearance="outline">
                                                                    <!-- <mat-label class="p-0 m-0">Haushalt
                                                                                    / Firma auswählen</mat-label> -->
                                                                    <input style="color: rgb(0, 0, 0);background-color: white; padding: 0px;;" class="  p-0 mb-2" type="text"
                                                                        placeholder="Haushalt / Firma auswählen"
                                                                        aria-label="Number" matInput
                                                                        [formControl]="myControl" (keyup.enter)="
                                                patchnationalityValue($event)
                                              " (ngModelChange)="
                                                patchnationalityValue($event)
                                              " [matAutocomplete]="auto" />

                                                                    <mat-autocomplete #auto="matAutocomplete">
                                                                        <mat-option *ngFor="
                                                  let employee of filteredOptions | async
                                                " [value]="employee.name">
                                                                            {{ employee.name }}
                                                                        </mat-option>
                                                                    </mat-autocomplete>
                                                                </mat-form-field>
                                                                <span class="" style="height: 100%;"><svg
                                                                        class=" p-2 " width="56" height="63"
                                                                        viewBox="0 0 28 27" fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg">
                                                                        <path
                                                                            d="M19.6498 17.0232H18.446L18.0193 16.6118C19.5127 14.8746 20.4118 12.6193 20.4118 10.1658C20.4118 4.69518 15.9773 0.260742 10.5067 0.260742C5.036 0.260742 0.601562 4.69518 0.601562 10.1658C0.601562 15.6365 5.036 20.0709 10.5067 20.0709C12.9601 20.0709 15.2154 19.1719 16.9526 17.6785L17.364 18.1052V19.309L24.9834 26.9131L27.2539 24.6425L19.6498 17.0232ZM10.5067 17.0232C6.71225 17.0232 3.64929 13.9603 3.64929 10.1658C3.64929 6.37143 6.71225 3.30847 10.5067 3.30847C14.3011 3.30847 17.364 6.37143 17.364 10.1658C17.364 13.9603 14.3011 17.0232 10.5067 17.0232Z"
                                                                            fill="white" />
                                                                    </svg></span>

                                                            </div>
                                                            <div class="col-md-12 d-flex flex-raw align-items-start  ">
                                                                <mat-form-field class="col-md-6 p-0 example-full-width"
                                                                    appearance="outline" *ngIf="showmembers">
                                                                    <!-- <mat-label>Haushaltsmitglied auswählen</mat-label> -->
                                                                    <input class="  p-0 m-0" type="text"
                                                                        placeholder="Haushaltsmitglied auswählen"
                                                                        aria-label="Number" matInput
                                                                        [formControl]="myControlnew" (keyup.enter)="
                                                                    patchmembervalue($event) "
                                                                        (ngModelChange)=" patchmembervalue($event) "
                                                                        [matAutocomplete]="auto1" />
                                                                    <mat-autocomplete #auto1="matAutocomplete">
                                                                        <mat-option *ngFor="
                                                let employee of filteredOptionsmembers | async
                                              " [value]="employee.name">
                                                                            {{ employee.name }}
                                                                        </mat-option>
                                                                    </mat-autocomplete>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="row">
                                                <div class="col-md-12 cusotmer-select" *ngIf="myControl.value"
                                                    style="padding-bottom: 20px;font-size:medium;">
                                                    Ausgewählter Kunde:
                                                </div>
                                                <div class="col-md-12 cusotmer-select" *ngIf="myControl.value" style=" font-size: x-large;
                                    margin-bottom: 20px;
                                    display: flex;">
                                                    <div style="display: flex;">
                                                        <div
                                                            style="color: white;padding: 12px 25px 12px 25px;background: #355E3B;border-radius: 0.25rem 0 0 0.25rem;">
                                                            <i *ngIf="kundetype == 'Firma'" class="fa fa-building"
                                                                aria-hidden="true" style="color: white;"></i>
                                                            <i *ngIf="kundetype.includes('Haushalt')"
                                                                class="fa fa-users" aria-hidden="true"
                                                                style="color: white;"></i><span
                                                                *ngIf="kundetype.includes('Haushalt')">
                                                                {{kundetype}}</span>
                                                        </div>

                                                        <div *ngIf="kundetype == 'Firma'" id="triangle"
                                                            [ngStyle]="{'background': myControl.value ? '#228C22' : 'transparent'}">
                                                        </div>
                                                        <div *ngIf="kundetype == 'Firma' && myControl.value"
                                                            style="color: white;padding: 12px 25px 12px 0px;background: #228C22;">
                                                            {{myControl.value.split('(')[0].trim()}}</div>
                                                        <div *ngIf="kundetype == 'Firma' && myControl.value"
                                                            id="triangle1">
                                                        </div>

                                                        <div *ngIf="kundetype.includes('Haushalt')" id="triangle"
                                                            [ngStyle]="{'background': myControlnew.value ? '#228C22' : 'transparent'}">
                                                        </div>
                                                        <div *ngIf="kundetype.includes('Haushalt') && myControlnew.value"
                                                            style="color: white;padding: 12px 25px 12px 0px;background: #228C22;">
                                                            <i class="fa fa-user" aria-hidden="true"
                                                                style="color: white;"></i>
                                                            {{myControlnew.value.split('(')[0].trim()}}
                                                        </div>
                                                        <div *ngIf="kundetype.includes('Haushalt') && myControlnew.value"
                                                            id="triangle1"></div>

                                                        
                                                    </div>

                                                </div>
                                            </div> -->
                                           
                                    

                                            <div class="row p-0">

                                                <div class="col-md-12 p-0">
                                                    <div class="bottom-btn p-0 m-0 d-flex justify-content-end ">
                                                        <!-- <button mat-raised-button matStepperPrevious
                                                            class="btn upload-theme-bottom"> Zurück</button> -->
                                                        <!--  -->
                                                        <button mat-raised-button matStepperNext [disabled]="ShowButton"
                                                            type="submit" (click)="GoNext()"
                                                            [ngClass]="[ShowButton? 'btn btn-secondary' : 'btn waiter nextBtn' ]">
                                                            Weiter
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </mat-step>

                        <mat-step *ngIf="kundetype=='Firma' && myControl.value else haushalt ">
                            <ng-template matStepLabel>
                                <span>Dokumenttyp</span>
                                <div class="underKundenHead rounded-sm ">{{itemToDisplayUnderKundenType}}</div>
                            </ng-template>
                            
                            <!-- // newly added *********************************************************************************-->
                            <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="0px"
                                style="margin-top: -15px">

                                <div *ngIf="poa == 'false'" class="myDIV">

                                    <mat-card class="links1" style="background-color: rgba(45, 45, 45, 0.5);">

                                        <mat-card-title>
                                            <img mat-card-image src="../assets/doc_transfer.png" />
                                        </mat-card-title>
                                    </mat-card>
                                </div>
                                <div class="popover-hide"> <span style="color: #184397;"><i class="fa fa-info-circle"
                                            aria-hidden="true"></i>
                                    </span> Um eine Bestandsübertragung durchzuführen muss der Kunde die Maklervollmacht
                                    signieren.</div>
                                <div *ngIf="poa == 'true'" (click)="GoNext('bestandsübertragung')"
                                    routerLink="/upload-document/{{ user_id }}/bestandsübertragung">
                                    <mat-card class="links">
                                        <mat-card-title>
                                            <img mat-card-image src="../assets/doc_transfer.png" />
                                        </mat-card-title>
                                    </mat-card>
                                </div>

                                <div (click)="GoNext('fremdvertrag')"
                                    routerLink="/upload-document/{{ user_id }}/fremdvertrag">
                                    <mat-card class="links">
                                        <mat-card-title>
                                            <img mat-card-image src="../assets/third_party.png" />
                                        </mat-card-title>
                                    </mat-card>
                                </div>
                                <div (click)="GoNext('Allgemeines Dokument')"
                                    routerLink="/upload-document/{{ user_id }}/allgemeines">
                                    <mat-card class="links">
                                        <mat-card-title>
                                            <img mat-card-image src="../assets/all_dok.png" />
                                        </mat-card-title>
                                    </mat-card>
                                </div>
                            </div>





                            <div class="col-md-12 p-0">
                                <div class="bottom-btn p-0 m-0 d-flex justify-content-between ">
                                    <button mat-raised-button matStepperPrevious class="btn upload-theme-bottom">
                                        Zurück</button>
                                    <!--  -->
                                    <button mat-raised-button matStepperNext [disabled]="ShowButton" type="submit"
                                        (click)="GoNext()"
                                        [ngClass]="[ShowButton? 'btn btn-secondary' : 'btn waiter nextBtn' ]">
                                        Weiter
                                    </button>
                                </div>
                            </div>
                        </mat-step>
                        <ng-template #haushalt>
                            <mat-step>
                                <ng-template matStepLabel>
                                    <span>Produkttyp</span>
                                    <div class="underKundenHead rounded-sm ">{{itemToDisplayUnderKundenType}}</div>
                                </ng-template>
                                <div class="col-md-12 p-0">
                                    <div class="bottom-btn p-0 m-0 d-flex justify-content-between ">
                                        <button mat-raised-button matStepperPrevious class="btn upload-theme-bottom">
                                            Zurück</button>
                                        <!--  -->
                                        <button mat-raised-button matStepperNext [disabled]="ShowButton" type="submit"
                                            (click)="GoNext()"
                                            [ngClass]="[ShowButton? 'btn btn-secondary' : 'btn waiter nextBtn' ]">
                                            Weiter
                                        </button>
                                    </div>
                                </div>
                            </mat-step>
                        </ng-template>

                        <mat-step>
                            <ng-template matStepLabel>
                                <span>Produktpartner</span>
                                <div class="underKundenHead rounded-sm ">{{itemToDisplayUnderKundenType}}</div>
                            </ng-template>
                            <div class="col-md-12 p-0">
                                <div class="bottom-btn p-0 m-0 d-flex justify-content-between ">
                                    <button mat-raised-button matStepperPrevious class="btn upload-theme-bottom">
                                        Zurück</button>
                                    <!--  -->
                                    <button mat-raised-button matStepperNext [disabled]="ShowButton" type="submit"
                                        (click)="GoNext()"
                                        [ngClass]="[ShowButton? 'btn btn-secondary' : 'btn waiter nextBtn' ]">
                                        Weiter
                                    </button>
                                </div>
                            </div>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <span>Dokument hochladen</span>
                                <div class="underKundenHead rounded-sm ">{{itemToDisplayUnderKundenType}}</div>
                            </ng-template>
                            <div class="col-md-12 p-0">
                                <div class="bottom-btn p-0 m-0 d-flex justify-content-between ">
                                    <button mat-raised-button matStepperPrevious class="btn upload-theme-bottom">
                                        Zurück</button>
                                    <!--  -->
                                    <button mat-raised-button matStepperNext [disabled]="ShowButton" type="submit"
                                        (click)="GoNext()"
                                        [ngClass]="[ShowButton? 'btn btn-secondary' : 'btn waiter nextBtn' ]">
                                        Weiter
                                    </button>
                                </div>
                            </div>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <span>Dokument hochladen</span>
                                <div class="underKundenHead rounded-sm ">{{itemToDisplayUnderKundenType}}</div>
                            </ng-template>
                            <div class="col-md-12 p-0">
                                <div class="bottom-btn p-0 m-0 d-flex justify-content-between ">
                                    <button mat-raised-button matStepperPrevious class="btn upload-theme-bottom">
                                        Zurück</button>
                                    <!--  -->
                                    <button mat-raised-button matStepperNext [disabled]="ShowButton" type="submit"
                                        (click)="GoNext()"
                                        [ngClass]="[ShowButton? 'btn btn-secondary' : 'btn waiter nextBtn' ]">
                                        Weiter
                                    </button>
                                </div>
                            </div>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <span>Dokument hochladen</span>
                                <div class="underKundenHead rounded-sm ">{{itemToDisplayUnderKundenType}}</div>
                            </ng-template>
                            <div class="col-md-12 p-0">
                                <div class="bottom-btn p-0 m-0 d-flex justify-content-between ">
                                    <button mat-raised-button matStepperPrevious class="btn upload-theme-bottom">
                                        Zurück</button>
                                    <!--  -->
                                    <button mat-raised-button matStepperNext [disabled]="ShowButton" type="submit"
                                        (click)="GoNext()"
                                        [ngClass]="[ShowButton? 'btn btn-secondary' : 'btn waiter nextBtn' ]">
                                        Weiter
                                    </button>
                                </div>
                            </div>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <span>Dokument hochladen</span>
                                <div class="underKundenHead rounded-sm ">{{itemToDisplayUnderKundenType}}</div>
                            </ng-template>
                            <div class="col-md-12 p-0">
                                <div class="bottom-btn p-0 m-0 d-flex justify-content-between ">
                                    <button mat-raised-button matStepperPrevious class="btn upload-theme-bottom">
                                        Zurück</button>
                                    <!--  -->
                                    <button mat-raised-button matStepperNext [disabled]="ShowButton" type="submit"
                                        (click)="GoNext()"
                                        [ngClass]="[ShowButton? 'btn btn-secondary' : 'btn waiter nextBtn' ]">
                                        Weiter
                                    </button>
                                </div>
                            </div>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <span>Dokument hochladen</span>
                                <div class="underKundenHead rounded-sm ">{{itemToDisplayUnderKundenType}}</div>
                            </ng-template>
                            <div class="col-md-12 p-0">
                                <div class="bottom-btn p-0 m-0 d-flex justify-content-between ">
                                    <button mat-raised-button matStepperPrevious class="btn upload-theme-bottom">
                                        Zurück</button>
                                    <!--  -->
                                    <button mat-raised-button matStepperNext [disabled]="ShowButton" type="submit"
                                        (click)="GoNext()"
                                        [ngClass]="[ShowButton? 'btn btn-secondary' : 'btn waiter nextBtn' ]">
                                        Weiter
                                    </button>
                                </div>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>


                </section>
            </div>
            <!-- </div> -->
            <div *ngIf="StpperForm">
                <app-create-customer [componentname]="componentname"></app-create-customer>
            </div>
            <!-- <div fxFlex></div> -->

            <!-- <div fxLayout="row wrap" fxLayoutAlign="center center" class="homedivhugh footer">
            <ul>
                <li>
                    <p style="font-size: 15px">© {{year}} CEFIMA V 1.1.5&nbsp;|</p>
                </li>
                <li>
                    <a class="footer-links monkss" [routerLink]="['/impressum']" target="blank">
                        <p>Impressum</p>
                    </a>&nbsp;|
                </li>
                <li>
                    <a class="footer-links monkss" [routerLink]="['/datenschutzbestimmungen']" target="blank">
                        <p>Datenschutzbestimmungen</p>
                    </a>&nbsp;|
                </li>
                <li>
                    <a class="footer-links monkss" [routerLink]="['/cookies']" target="blank">
                        <p class="monkss">Cookies</p>
                    </a>&nbsp;|
                </li>
                <li>
                    <a class="footer-links monkss" [routerLink]="['/nutzungsbedingungen']" target="blank">
                        <p>Nutzungsbedingungen</p>
                    </a>
                </li>
            </ul>
        </div> -->
        </div>
    </div>